<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.3" package="com.companyname.App2" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="App2.Android" android:icon="@drawable/LOGOph"></application>
</manifest>